body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul, li {
  list-style: none;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-family: cursive;
}

#message {
  margin-top: 30px;
  color: #778899;
  font-size:medium;
  font-family:sans-serif;
}

#name {
  /* margin-left: 10px; */
  color: #6495ED;
  font-size: smaller;
  font-family: monospace;
  font-weight: bold;
  text-align: right;
}