extends ../layout

block content
  h1= title

  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript")
    var socket = io.connect('http://localhost:3000');
    socket.on('send', function (data) {
      var div = document.createElement('div');
      div.appendChild(document.createTextNode(data.text + ' @' + data.user));
      document.body.appendChild(div);
    });

